# Node.js 관련
node_modules/
npm-debug.log
yarn-error.log

# 빌드 출력
dist/
build/

# 환경 설정 파일
.env
*.env

# 운영체제별 파일
.DS_Store
Thumbs.db

# IDE 관련 파일
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# 기타
*.log
*.tmp
*.bak

# 특정 파일
circuit.wasm
circuit_final.zkey
snarkjs.min.js

# Git 관련 파일
.git/